* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainframe {
    padding: 2rem;
    background-color: grey;
    width: 30rem;
    margin: auto auto;
    margin-top: 7rem;
    border-radius: 2rem;
    position: relative;
}

.main-body {
    margin-top: 2rem;
}

.main-body>input {
    text-indent: 5px;
}

.currencyinput {
    width: 20rem;
    height: 1.7rem;

}

.currencyinput::placeholder {
    letter-spacing: 6px;
    text-indent: 10px;
}

.currencyinputbut {
    height: 1.7rem;
    width: 2.2rem;
    background-color: green;
    border: 2px double black;
    border-radius: 10px;
}

.currencyinputbut:hover {
    background-color: rgb(36, 156, 36);

    color: white;
}

.clearbut {
    padding: 2px;
    height: 1.7rem;
    background-color: red;
    border: 2px double black;
    border-radius: 10px;
}

.clearbut:hover {
    background-color: rgb(185, 34, 34);

    color: white;
}

.fromto {
    margin-top: 2rem;
}

.fromto>select {
    width: 22.2rem;
    height: 1.7rem;
}

.result {
    margin-top: 3rem;
    text-align: center;
}
.tag{
    text-align: center;
}
.help>i:hover{
    background-color: red;
}
.help>i{
    background-color: white;
    border-radius: 50%;
    padding: 5px 8px;
    position: absolute;
    top: 1rem;
    left: 27.6rem;
}

.popinfo{
    background-color: yellow;
    padding: 2rem;
    width: 27rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto auto;
    position: absolute;
    top: -5rem;
    left: 2rem;
    animation: akay 2s forwards;
}
@keyframes akay {
    from{
        position: absolute;
        transform: translateY(-20rem);
    }
    to{
        position: absolute;
        transform: translateY(2rem);
    }
}
.popinfobut{
    font-size: 1.4rem;
    margin-left: 22.5rem;
    margin-top: -1.5rem;
}







@media screen and (max-width: 793px) {
    .mainframe {
        padding: 2rem;
    }
}

@media screen and (max-width: 548px) {
    .mainframe {
        width: 27rem;
    }

    .mainframe>h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .currencyinput {
        width: 17rem;
        height: 1.5rem;
    }

    .fromto>select {
        width: 20rem;
        height: 1.5rem;
    }

    .fromto {
        margin-top: 1.2rem;
    }

    .result {
        margin-top: 2rem;
    }
    .popinfo{
        width: 23rem;
    }
    .popinfobut{
        margin-left: 18.4rem;
    }
    .help>i{
        left: 24.5rem;        
    }
}

@media screen and (max-width:455px) {
    .mainframe {
        width: 24rem;
    }
    .clearbut{
        margin-top: 7px;
    }
    .popinfo{
        width: 21rem;
        left: 1.2rem;
    }
    .popinfobut{
        margin-left: 17rem;
    }
    .help>i{
        left: 21.7rem;        
    }
}
@media screen and (max-width:397px) {
    .mainframe {
        width: 21rem;
    }
    .fromto>select{
        width: 17rem;
    }
    .popinfo{
        width: 18rem;
        left: 1.2rem;
    }
    .popinfobut{
        margin-left: 14rem;
    }
    .help>i{
        left: 18.8rem;        
    }
}
@media screen and (max-width:349px) {
    .mainframe {
        width: 18rem;
    }
    .currencyinput{
        width: 15rem;
    }
    .fromto>select{
        width: 15rem;
    }
    .popinfo{
        width: 16rem;
        left: 1rem;
    }
    .popinfobut{
        margin-left: 12rem;
    }
    .help>i{
        left: 15.8rem;        
    }
}